<div>
    <form @*action="~/admin/post.aspx"*@ method="post" name="post">
        <p>Title: <input type="text" name="postTitle" /></p>
        <p>Title: <textarea name="postContent"></textarea></p>
        <p><input type="submit" name="postSubmit" value="Create Post"/></p>
    </form>
</div>
