@model CmsWannabe.Models.PostContentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        Url: <p>@Model.Url</p>
    </div>

    <div id="template-top-conteiner">
        @Html.Partial($"{Model.TemplateTop}", Model.Image)
    </div>
    <hr />
    <div id="template-bottom-conteiner">
        @Html.Partial($"{Model.TemplateBottom}", Model.Image)
    </div>
</div>

