
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>


<table>
    <thead>
        <tr>
            <td>col1</td>
            <td>col2</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>wtf</td>
            <td>brb</td>
        </tr>
        <tr>
            <td>idk</td>
            <td>wts</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>foot</td>
            <td>er</td>
        </tr>
    </tfoot>
</table>
